nltk>=3.8
spacy>=3.8
scikit-learn>=1.4
pandas>=2.0
numpy>=1.26
matplotlib>=3.8
seaborn>=0.13
gradio>=4.0
kagglehub>=0.2
transformers>=4.38
torch>=2.0
sentencepiece>=0.1.99
sentence-transformers>=2.6
langdetect>=1.0.9
deep-translator>=1.11
gensim>=4.3
pyLDAvis>=3.4
pytest>=8.0
